$v-background-color: #FFFFFF !default;
$v-focus-color: #07426e !default;

@import "../valo/valo.scss";
@import "../../addons/stepper/stepper.scss";
@import "../common/common.scss";

//here goes actual contents of our theme, in the main mixin
@mixin clarinTheme {

	@include valo;
	@include stepper;
	$headerBackgroundImage: 	none;
	@include unityCommon;

    /*
    body {
        display: table;
        width: 100%;
        height: 100%;
    }
    */

	//in the header caption we hide the default text and instead show a Unity logo
	.u-textEndpointHeading {
		text-indent: 100%;
  		white-space: nowrap;
  		overflow: hidden;
  		/*background-image: url("../clarinTheme/img/clarin-logo-wide-white-lines-removed-small.png");
  		background-repeat: no-repeat;*/
  		height: 100%;
  		width: 100%;
	}
	
	//also the height of the top bar is enforced to be slightly larger
	/*
	.u-header {
		height: 130px !important;
		background-color: #eee;
		border-color: #d5d5d5;
	}
	*/

	.v-margin-top {
	    padding-top: 5px;
	}

	.v-margin-bottom {
	    padding-bottom: 5px;
	}

	.v-ui {
	    display: table;
	}

	.v-filterselect-suggestpopup {
	    width: 350px
	}

    .v-textfield {
        min-width: 300px;
    }

    .v-filterselect {
    	min-width: 300px;
    }

    .v-filterselect-input {
    	min-width: 300px;
    }
}
