//This is the root theme file. The name 'styles.scss' must be always preserved
// If you want to create a new theme copy this file and change the imported file, theme name
// and include: basically 'customTheme' -> 'yourName'

@import "clarinTheme.scss";

.clarinTheme {
 	@include clarinTheme;

 	margin-top: -25px;
 	display: block;
 	display: table-row;
 	width: 100%;
 	height: 100%;
}
